openai_api_key  = "sk-..."
github_repo     = "https://github.com/ihatesea69/realtime-voice-assistant-openai.git"
owner           = "your-name"
key_name        = "your-key-pair-name"
turn_username   = "your-metered-username"
turn_credential = "your-metered-credential"
domain_name     = "your-domain.com"
